@use "sass:color";

$treacleBlack: #161515;
$charcoalGrey: #2a2827;
$warmTreacle: #d28d42;
$white: #f6f4f0;
$grey: #9c968e;

.max-width-wrapper {
    max-width: 1800px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

body,
html {
    margin: 0;
    background-color: #161515;
    color: $white;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

footer {
    p {
        padding-left: 10%;
    }
}

header {
    img {
        border: solid thin transparent;
        border-radius: 12px;
        width: 120px;
    }
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.text-muted {
    color: $grey !important;
}

.live-stream-container,
.gallery-container {
    background-color: $charcoalGrey;
    padding: 24px;
    border-radius: 12px;
    color: $white;
}

.highlight-text {
    color: $warmTreacle;
}

.bold {
    font-weight: bolder;
}

.photo-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .photo-card-inner {
        background-color: color.adjust($charcoalGrey, $lightness: 4%);
        border: 2px solid $white;
        padding: 8px;
        border-radius: 6px;
        transition: transform 0.3s ease;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &:hover {
        .photo-card-inner {
            transform: translateY(-2px);
        }
    }

    .img-wrapper {
        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: 4px;
        background-color: rgba(0,0,0,0.2);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .highlight-date {
        color: $warmTreacle;
        font-weight: 700;
    }

    .opacity-0 {
        opacity: 0;
    }

    .transition-fade {
        transition: opacity 0.3s ease-in-out;
    }
}